/* ============================== global rules ============================== */
:root {
  --rad: 4px;
  --bg: #e6e6e6;
  --bg2: #f5f5f5;
  --doc-bg: #fff;
  --line: #e9e9e9;
  --p: #555;
  --transition: 0.3s;
  --pure: #000;
  --main: #006eff;
  --warn: #ffff009f;
  --sidebar-width: 220px;
}
body.dark {
  --bg: #161616;
  --bg2: #111;
  --doc-bg: #000;
  --line: #333;
  --transition: 0.3s;
  --pure: #fff;
  --warn: #ffff3f7d;
  --p: #999;
  --sidebar-width: 220px;
}
/* ============================== global rules ============================== */
/*
-
-
-
-
*/

/* ============================== global rules ============================== */
* {
  transition: var(--transition);
  line-height: 1.6;
}

li,
dd,
dt,
span,
nav,
a,
pre,
code,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--pure);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-weight: 800;
  margin-bottom: 24px;
}

img {
  margin-bottom: 24px;
  max-width: 100%;
  border: 4px solid var(--line);
}

section.active {
  display: block;
}
section {
  display: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--p);
  border-radius: 8px;
  opacity: 0.6;
}

body {
  font-family: sans-serif;
  background-color: var(--bg2);
  margin: 0;
}
.containerHolder {
  width: calc(100vw - var(--sidebar-width));
  margin-left: var(--sidebar-width);
}
.container {
  padding: 8px 24px;
  margin: 12px;
  background-color: var(--doc-bg);
  min-height: calc(100vh - 42px);
}
.pageHolder {
  display: flex;
}
a {
  text-decoration: none;
  background-color: var(--main);
  color: #fff;
  padding: 2px 12px;
  margin: 0 6px;
  display: inline-block;
}
a:hover {
  opacity: 0.75;
}
h1 {
  font-weight: bolder;
  font-size: 40px;
}
li {
  margin-bottom: 16px;
}
li.nested {
  list-style: none;
  margin-left: 16px;
}
li.nested::before {
  content: "- ";
}
li.nested2 {
  list-style: none;
  margin-left: 64px;
}
li.nested2::before {
  content: "- ";
}
li.nested3 {
  list-style: none;
  margin-left: 128px;
}
li.nested3::before {
  content: "- ";
}
li.nested4 {
  list-style: none;
  margin-left: 200px;
}
li.nested4::before {
  content: "- ";
}
.warn {
  background-color: var(--warn);
  padding: 16px;
  margin: 16px 0;
  font-weight: 700;
}
.warn::before {
  content: "Note: ";
}
p {
  color: var(--p);
  line-height: 1.6;
}
.command {
  color: rgb(46, 255, 46);
  background-color: #111;
  margin-right: 8px;
  padding: 10px 20px;
  letter-spacing: 1px;
}
.mark,
b {
  background-color: var(--warn);
  color: var(--pure);
  padding: 6px;
  font-weight: bold;
}
hr {
  border: none;
  border: 0.5px solid var(--line);
  margin: 48px 0;
}
code {
  font-size: 20px;
  background-color: #222;
  padding: 10px 20px;
  color: orange;
}

/* ============================== global rules ============================== */
/*
-
-
-
-
*/
/* ============================== components ============================== */
.link {
  background-color: #136bc9;
  color: white;
  padding: 6px 10px;
  border-radius: var(--rad);
  text-decoration: none;
}
.link:hover {
  background-color: #459fff;
}

.theme {
  position: fixed;
  right: 4px;
  top: 4px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  cursor: pointer;
  font-weight: 700;
}
body.dark .theme {
  color: white;
}
body.dark .light {
  display: block;
}
body.dark .dark {
  display: none;
}
body .light {
  display: none;
}
body .dark {
  display: block;
}
.theme:hover {
  background-color: #000;
  color: #fff;
}
body.dark .theme:hover {
  background-color: #fff;
  color: #000;
}

.area {
  padding: 12px;
  margin: 12px 0;
  background-color: var(--bg);
}

.correct,
.wrong {
  padding: 4px 8px;
  color: white;
  font-size: 14px;
  border-radius: var(--rad);
}
.correct {
  background-color: green;
}
.wrong {
  background-color: red;
}
.correct::before {
  content: "correct";
}
.wrong::before {
  content: "wrong";
}
.colors li,
.light-colors li {
  width: 300px;
  text-align: center;
  color: white;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--line);
  list-style: none;
}

.light-colors li {
  color: #000;
}

body.dark .light-colors li {
  color: #fff;
}

/* ============================== components ============================== */
/*
-
-
-
-
*/
/* ============================== other ============================== */
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--bg);
  overflow: auto;
}

nav div {
  display: block;
  padding: 12px 8px;
  cursor: pointer;
  text-transform: capitalize;
}

nav div.active {
  pointer-events: none;
  color: var(--main);
}

nav div:hover,
nav div.active {
  background-color: var(--bg2);
}
/* ============================== other ============================== */
