/* =============== Custom Cursor =============== */
.customCursor {
  clip-path: polygon(0 100%, 0 0, 77% 64%, 29% 62%);
  transition: width 0.3s, height 0.3s;
}

@media (max-width: 450px) {
  .customCursor {
    display: none;
  }
}

/* =============== Custom Cursor =============== */

/*
=
=
=
*/

/* =============== showAnimation =============== */
.showAnimation {
  animation: show var(--animation-duration) ease-in-out forwards;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* =============== showAnimation =============== */

/*
=
=
=
=
*/

/* =============== dotAvilability =============== */
.dotAvilability {
  animation: dot 1.5s linear infinite;
}

@keyframes dot {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
/* =============== dotAvilability =============== */

/*
=
=
=
=
*/

/* =============== happy clients ticker =============== */
.sliderContainer:hover .slider {
  animation-play-state: paused;
}
.slider {
  animation: scrollY linear infinite;
}
@keyframes scrollY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - 2rem));
  }
}
/* =============== happy clients ticker =============== */

/*
=
=
=
=
*/

/* =============== ticker scroll =============== */
@keyframes scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 4rem));
  }
}

.animateScroll {
  animation: scrollX linear infinite;
}

@keyframes scrollSmallX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

.animateSmallScroll {
  animation: scrollSmallX linear infinite;
}
/* =============== ticker scroll =============== */

/*
=
=
=
=
*/

/* =============== hexagon =============== */
.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
/* =============== hexagon =============== */

/*
=
=
=
=
*/

/* =============== Spinner & rotation =============== */
.spinner {
  width: 26px;
  height: 26px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.rotation {
  animation: rotation 75s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* =============== Spinner & rotation =============== */
